.auth {
	display: grid;
	justify-content: center;
	padding: 1em;
}

.auth__title {
	text-align: center;
}

.auth__forms {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	gap: 3em;
	padding-block: 1em 1.5em;
}
