*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--clr-primary: hsl(296 57% 30%);
}

body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	overflow-y: scroll;
}

ul {
	list-style-type: none;
}

button, input, textarea, select {
	font-size: inherit;
	font-family: inherit;
}
