.task-view {
}

.task-view__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1em;
}

.task-view__name {
	color: hsl(0 0% 25%);
}

.task-view__subtotal {
	font-weight: bold;
	color: hsl(0 0% 25%);
}

.task-view__labour {
	margin-bottom: 1em;
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 1em;
	padding: 0.5em;
	background-color: hsl(0 0% 90%);
}

.task-view__remove {
	font-size: 2rem;
	background: none;
	border: none;
	color: red;
	cursor: pointer;
}
