.labour-input {
	display: grid;
}

.labour-input__form {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	gap: 1em;
	padding: 1em;
	background-color: hsl(0 0% 95%);
}

.labour-input__role-input {
	padding: 0.25em 0.5em;
	cursor: pointer;
}

.labour-input__hours-input {
	width: 4em;
	padding: 0.25em;
}

.labour-input__submit {
	width: fit-content;
	padding: 0.25em 0.5em;
	cursor: pointer;
}

@media screen and (min-width: 800px) {
	.labour-input__form {
		flex-direction: row;
		align-items: flex-end;
	}
}
