.home {
	max-width: 1024px;
	margin-inline: auto;
	display: grid;
	gap: 1em;
	padding-block: 1em;
}

.home__title {
	text-align: center;
}

@media screen and (min-width: 420px) {
	.home {
		padding: 1em;
	}
}
