.quote-view {
	padding: 0.5em;
	box-shadow: 0px 2px 8px hsl(0 0% 39% / 0.2);
}

.quote-view__header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 1em;
}

.quote-view__total {
	font-size: 1.25rem;
	font-weight: bold;
	margin-left: auto;
}

.quote-view__tasks {
	display: grid;
	gap: 1em;
	padding: 1em;
}

.quote-view__empty {
	text-align: center;
}

.quote-view__buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.quote-view__button {
	padding: 0.25em 0.5em;
	cursor: pointer;
}

@media screen and (min-width: 420px) {
	.quote-view {
		padding: 1em;
	}
}
