.header {
	display: flex;
	align-items: center;
	padding: 1em;
	background-color: var(--clr-primary);
	color: white;
}

.header__title {
	text-align: center;
}

.header__sign-out {
	width: fit-content;
	margin-left: auto;
	padding: 0.5em 1em;
	cursor: pointer;
}
