.items-input {
	display: grid;
}

.items-input__form {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	gap: 1em;
	padding: 1em;
	background-color: hsl(0 0% 95%);
}

.items-input__name-input {
	padding: 0.25em;
	background-color: white;
}

.items-input__cost-input,
.items-input__quantity-input {
	width: 6em;
	padding: 0.25em;
	background-color: white;
}

.items-input__submit {
	width: fit-content;
	padding: 0.25em 0.5em;
	cursor: pointer;
}

.items-input__submit:disabled {
	cursor: not-allowed;
}

@media screen and (min-width: 800px) {
	.items-input__form {
		flex-direction: row;
		align-items: flex-end;
	}
}
