.quote-form {
	display: grid;
	align-content: start;
	gap: 1em;
	padding: 1em 1.5em 1.5em;
	box-shadow: 0px 2px 8px hsl(0 0% 39% / 0.2);
}

.quote-form__title {
	text-align: center;
}

.quote-form__name-input {
	font-weight: bold;
	padding: 0.25em;
	background-color: white;
}

.quote-form__tasks {
	display: grid;
	gap: 2em;
}

.quote-form__new-task {
	width: fit-content;
	margin-bottom: 2em;
	padding: 0.5em 1em;
	cursor: pointer;
}

.quote-form__submit {
	width: fit-content;
	padding: 0.5em 1em;
	cursor: pointer;
}

.quote-form__submit:disabled {
	cursor: not-allowed;
}